{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
	<!-- <script src="{% static 'blog/js/script.js' %}"></script> -->
</head>
<body>
<div class="header">
	<h1 class="header-name">
		Neek
	</h1>
	<p class="header-subname">
		disigner
	</p>
</div>
{% block menu %}
<div class="menu">
	<a href="/" class="a">Главная</a>
	<a href="/about" class="a">Обо мне</a>
	<a href="/photo" class="a">Галерея</a>
	<a href="/work" class="a">Мои работы</a>
</div>
{% endblock%}

{% block content%}
{% endblock %}

{% block footer %}
<h1>Тут будет подвал</h1>
{% endblock %}
</body>
</html>