{% extends 'blog/index.html' %}

{% block content %}
	<div class="portfolio">
		<div class="container">
			<h2 class="section-header">Портфолио</h2>
			<!-- portfolio-card-wrapper -->
			<div class="portfolio-card-wraper">
				<div class="card">
					<img class="card-img" src=" ../../static/blog/images/m3.jpg" alt="">
					<h3 class="card-title">Моделирование</h3>
					<p class="card-description">Моя первая игра</p>
				</div>
				<div class="card">
					<img class="card-img" src="../../static/blog/images/m2.jpg" alt="">
					<h3 class="card-title">Моделирование</h3>
					<p class="card-description">Моя первая игра</p>
				</div>
				<div class="card">
					<img class="card-img" src="../../static/blog/images/m4.jpg" alt="">
					<h3 class="card-title">Моделирование</h3>
					<p class="card-description">Моя первая игра</p>
				</div>
				<div class="card">
					<img class="card-img" src="../../static/blog/images/m1.jpg" alt="">
					<h3 class="card-title">Моделирование</h3>
					<p class="card-description">Моя первая игра</p>
				</div>	
			</div>
			<!-- portfolio-card-wrapper -->
			
			
		</div>
	</div>
{% endblock%}